@import url('reset.css');

html {
  font-size: 20px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0,0,0);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255,255,255,.65);
}
::selection {
  background-color: rgb(0,146,177);
  color: rgba(255,255,255,.9);
}

a {
  color: rgba(255,255,255,.9);
  padding-bottom: .2rem;
  border-bottom: .1rem solid transparent;
  transition: all ease .2s;
}
a:hover {
  border-bottom-color: rgb(0,146,177);
}

header {
  display: flex;
  padding: 1rem;
}
a.site-title {
  width: 10rem;
  height: 2rem;
  background: transparent url('../img/alg-logo-white.svg') 50% 50% no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: rgba(255,255,255,.9);
}
ul.brands {
  display: flex;
  flex-wrap: wrap;
}
ul.brands li {
  margin: 1rem;
}
ul.brands li a.av:hover {
  color: rgb(1,70,141);
  border-bottom-color: rgb(207,43,4);
}
ul.brands li a.bb:hover {
  color: rgb(55,130,119);
  border-bottom-color: rgb(247,96,73);
}
ul.brands li a.cc:hover {
  color: rgb(0,128,134);
  border-bottom-color: rgb(204,65,115);
}





